@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Domine:wght@400..700&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Kalam:wght@300;400;700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@layer base {
    body{
        @apply bg-blacktheme overflow-x-hidden
    }
    .menudesign-a{
        @apply inline-block text-white font-HeadingFont  text-lg 
    }
    .whitebtn{
        @apply bg-whitetheme text-blacktheme py-2 px-5 text-center rounded-md font-bold hidden md:hidden xl:flex lg:flex items-center justify-between gap-x-2 shadow-xl 
    }
    .centerdiv{
        @apply grid grid-cols-1 xl:grid-cols-2 lg:grid-cols-2 grid-rows-1 place-items-center
    }
    .inputdiv{
        @apply bg-transparent border-whitetheme border-solid border w-full py-3 px-5 rounded-lg text-whitetheme focus:outline-none focus:border-whitetheme
    }
    .textareadiv{
        @apply bg-transparent border-whitetheme border-solid border w-full py-8 px-5 rounded-lg text-whitetheme focus:outline-none focus:border-whitetheme
    }
    .iconstyle{
        @apply text-white w-10 h-10 p-3 rounded-full border-blacktheme border-solid border text-center
    }
    .mobile-menu{
        @apply bg-lightblacktheme fixed top-0 -left-full h-screen w-80 z-50 p-5 ease-in transition-all duration-700
    }
    .activemobile{
        @apply left-0
    }
}